---
import SiteNav from "../components/SiteNav.astro"; 
import SiteFooter from "../components/SiteFooter.astro";
import { navQuery } from "../lib/api";
const { menus, generalSettings } = await navQuery();
const primaryMenu = menus.nodes[0];

const { title, description } = Astro.props;

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport"
content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
		<meta name="generator" content={Astro.generator} />
		<title>{`${title} | ${generalSettings.title}`}</title>
		<meta name="description" content={description}>
		<link rel="stylesheet" id="landingpress-css" href="https://chekoutinaja.my.id/wp-content/themes/landingpress-wp/style.css?ver=3.4.3" type="text/css" media="all">		
			<link rel="stylesheet" id="elementor-frontend-css" href="https://chekoutinaja.my.id/wp-content/plugins/elementor/assets/css/frontend.min.css?ver=3.26.3" type="text/css" media="all">

			<link rel="stylesheet" id="widget-icon-box-css" href="https://chekoutinaja.my.id/wp-content/plugins/elementor/assets/css/widget-icon-box.min.css?ver=3.26.3" type="text/css" media="all">
			<link rel="stylesheet" id="widget-icon-list-css" href="https://chekoutinaja.my.id/wp-content/plugins/elementor/assets/css/widget-icon-list.min.css?ver=3.26.3" type="text/css" media="all">
			<style>
				.elementor-button-link{
					background-color: blue !important;
				}
				</style>
	</head>
	<body>
		<main>
			<slot></slot>
		</main>
		<SiteFooter></SiteFooter>
	</body>
</html>

<style>
	body {
		font-family: 'Open Sans', sans-serif;
		font-size: 18px;
	}
	main {
		width:100%;
		max-width: 1024px;
		margin:auto;
	}
</style>
